@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #212121;
    color: #FFFFFF;
}
/*---------------------------------------------------MENU---------------------------------------------------*/
.menu {
    overflow: hidden;
    position: sticky;
    top: 0;
    font-size: 20px;
    padding: 25px 0px;
    background-color: #212121;
    z-index: 1;
}

.navbar {
    display: none;
}

ul.logo {
    list-style-type: none;
    float: left;
}

.menu-logo {
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
}

ul.logo2 {
    list-style-type: none;
}

.menu-list {
    float: right;
    padding: 0px 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a.menu-link {
    padding: 0px 10px;
    vertical-align: middle;
}

a.menu-link:hover {
    color: #02F0E2;
}

h2.section-title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 48px;
}

span.section-title-color {
    color: #02F0E2;
}



/*-----------------------------------------------------INFO-----------------------------------------------------*/


.info-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
    padding: 6% 0;
}

.info-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.info-img { 
    width: 50%;
    border-radius: 100%;
}

h1 {
    font-size: 64px;
}

h2.section-title {
    text-align: center;
    font-size: 48px;
    clear: both;
    margin-top: 64px;
}

span.section-title-color {
    color: #02F0E2;
}

h3 {
    font-size: 28px;
}


.button-primary {
    display:inline-block;
    text-decoration: none;
    color: #212121;
    background-color:#02F0E2;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    margin: 0 8px 0 0;
    width: 100px;   
}

.button-primary:hover {
    color:#212121;
    background-color: #fff;
}

.button-secondary {
    display:inline-block;
    text-decoration: none;
    color: #212121;
    background-color:#fff;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    margin: 12px auto;
    width: 100px;   
}

.button-secondary:hover {
    color:#212121;
    background-color: #02F0E2;
}

/*---------------------------------------------------MY WORK----------------------------------------------------*/
.work-container {
    text-align: center;
}

.work {
    width: 90vw;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.work-img {
    width: 100%;
}

.work-img:hover {
    transform: scale(1.2);
    transition: transform .5s;
}


/*----------------------------------------------------ABOUT ME--------------------------------------------------*/
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
    padding: 6% 0;
}

.about-box-1 {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
}

.about-img {
    width: 50%;
    border-radius: 100%;
}

.about-box-2 {
    flex: 1 1 300px;
    flex-direction: column;
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 40px;
}

.about-text {
    font-size: 28px;
    line-height: 140%;
}

.about-button {
    text-decoration: none;
    color: #212121;
    background-color:#ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    margin: 0 8px 0 0;
    width: 190px;  
}

.about-button:hover {
    color:#212121;
    background-color: #02F0E2;
}

/*----------------------------------------------------MY SKILLS--------------------------------------------------*/
.skills{
    float: left;
    margin: 0 200px 80px 200px;
    width: 80%;
}

.bar {
    float: left;
    width: 500px;
    height: 300px;
    margin-right: 48px;
}

.progress-90 {
    float: left;
    width: 90%;
    border-radius: 4px;
    padding: 8px 12px;
    margin-top: 48px;
    color:#000;
    font-weight: 600;
}

.progress-80 {
    float: left;
    width: 80%;
    border-radius: 4px;
    padding: 8px 12px;
    margin-top: 48px;
    color:#000;
    font-weight: 600;
}

.progress {
    margin-top: 60px;
    font-weight: bolder;
    color: #212121;
    background-color: #02F0E2;
}

.progress:hover {
    color: #212121;
    background-color: #fff;
}

.rest {
    background-color: #3F3F3F;
    border-radius: 4px;
    padding: 8px 12px;
    margin-top: 60px;
    text-align: right;
}

/*----------------------------------------------------CONTACT--------------------------------------------------*/
.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

form {
    width: 60%;
}

form input.form,textarea {
    width: 100%;
    height: 40px;
    border-radius: 0.3rem;
    padding: 0px 12px;
    margin-bottom: 1rem;
    background-color: #3F3F3F;
    color: #fff;
}

textarea {
    height: 100px;
    margin-left: 3px;
    resize: none;
}

form textarea,input.form-text::placeholder{
    font-weight: 700;
    font-size: 17px;
}

form input.submit {
    color: #000;
    background-color:#02F0E2;
    font-weight: 600;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    width: 150px; 
    cursor: pointer; 
}

.submit:hover {
    color:#212121;
    background-color: #fff;
}

.social-container{
    background-color: #3F3F3F;
    border-radius: 8px;
}

.social {
    padding: 0px 48px 10px 10px;
    list-style-type: none;

}

.social-list {
    padding: 8px 0px;
}

.social-title {
    font-size: 23px;
    margin: 10px 0px 10px 8px;
    margin-bottom: 8px;
    color: #02F0E2;
    text-align: center;
}

img.icon {
    width: 20px;
    margin: 10px 10px;
    display: inline-block;
    vertical-align: middle;
}

p.social-text {
    display: inline-block;
}


/*----------------------------------------------------FOOTER--------------------------------------------------*/
footer {
    width: 100%;
    padding: 48px 50px;
    background-color: #212121;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.footer-ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.footer-ul > li {
    list-style-type: none;
}

.footer-img {
    width: 2rem;
}



@media (max-width: 1200px) {
    /*---------------------------------------------------MENU---------------------------------------------------*/
    .menu {
        display: none;
    }

    .navbar {
        width: 100%;
        display: block;
        position: fixed;
        background-color: #212121;
        }
        
        .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        }
        
        .navbar .menu-items {
        display: flex;
        background-color: #fff;
        }
        
        .navbar .nav-container li {
        list-style: none;
        }
        
        .navbar .nav-container a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 1.4rem;
        padding: 0.7rem;
        }
        
        .navbar .nav-container a:hover{
            color: #02F0E2;
        }
        
        .nav-container {
        display: block;
        position: relative;
        height: 60px;
        }
        
        .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 16px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
        }
        
        .nav-container .hamburger-lines {
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
        
        .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
        }
        
        .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        }
        
        .navbar .menu-items {
        padding-top: 120px;
        background-color: #3d3d3d;
        width: 100%;
        transform: translateY(-200%);
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-bottom: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        }
        
        .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 300;
        }
        
        .logo {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 1.2rem;
        }
        
        .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
        }

    /*---------------------------------------------------INFO----------------------------------------------------*/

    .info-container {
        padding: 8% 0;
    }

    .info-1 {
        align-items: center;
    }

    /*---------------------------------------------------MY WORK----------------------------------------------------*/

    .work {
        grid-template-columns: 1fr 1fr;
    }
    .work-img {
        width: 100%;
    }

    /*----------------------------------------------------ABOUT ME--------------------------------------------------*/

    .about-img {
        width: 60%;
    }

    /*----------------------------------------------------CONTACT--------------------------------------------------*/
    form {
        width: 90%;
    }
    .social-container{
        width: 90%;
        height: 285px;
        background-color: #3F3F3F;
        border-radius: 8px;
    }


}





@media (max-width: 768px) {
    /*---------------------------------------------------MENU---------------------------------------------------*/
    .menu {
        display: none;
    }

    .navbar {
        width: 100%;
        display: block;
        }
        
        .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        }
        
        .navbar .menu-items {
        display: flex;
        background-color: #fff;
        }
        
        .navbar .nav-container li {
        list-style: none;
        }
        
        .navbar .nav-container a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 1.4rem;
        padding: 0.7rem;
        }
        
        .navbar .nav-container a:hover{
            color: #02F0E2;
        }
        
        .nav-container {
        display: block;
        position: relative;
        height: 60px;
        }
        
        .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
        }
        
        .nav-container .hamburger-lines {
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
        
        .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
        }
        
        .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        }
        
        .navbar .menu-items {
        padding-top: 120px;
        background-color: #3d3d3d;
        width: 100%;
        transform: translateY(-200%);
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-bottom: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        }
        
        .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 300;
        }
        
        .logo {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 1.2rem;
        }
        
        .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
        }

    /*---------------------------------------------------INFO----------------------------------------------------*/

        .info-container {
            padding: 20% 10%;
        }

        h1 {
            text-align: center;
        }


    /*---------------------------------------------------MY WORK----------------------------------------------------*/

    .work {
        grid-template-columns: 1fr;
    }

    /*----------------------------------------------------ABOUT ME--------------------------------------------------*/

    .about-img {
        width: 80%;
    }
    

    /*----------------------------------------------------CONTACT--------------------------------------------------*/

    form {
        width: 90%;
    }

    .social-container{
        width: 90%;
        height: 285px;
        background-color: #3F3F3F;
        border-radius: 8px;
    }
    form input.submit {
        width: 100%; 
    }
}